@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid aqua;
    padding: 1rem 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

header > div {
    border-radius: 2rem;
    background-color: green;
    color: white;
    padding: 1rem 3rem;
}

.part1 {
    display: grid;
    grid-template: 35rem 10rem 25rem / 2fr 3fr;
    grid-template-areas: "hero topicr"
                         "asidel . "
                         "asidel topicrd";
    gap: 1rem;
    padding: 1rem 3rem;
}

.part1 > div:first-child {
    grid-area: hero;
    background-image: url(./images/combined-layout-hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem;
}

.topic1 {
    grid-area: topicr;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
}

.side1 {
    grid-area: asidel;
    border-top: purple 2px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(241, 241, 241);
}

.side1 li {
    margin-bottom: 1rem;
    list-style-type: none;  
}

.topic2 {
    grid-area: topicrd;
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    border: 1px solid lightgray;
    background-color: rgb(241, 241, 241);
}

.topic2 > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    font-size: 1.7rem;
    justify-content: space-around;
    padding: 2rem 3rem;
    letter-spacing: .1rem;
}

div > button {
    width: 20%;
    padding: 1rem .5rem;
    border: aqua 1px solid;
    color: aqua;
    background-color: white;
}

.part2 {
    display: grid;
    grid-template-rows: repeat(2, 30rem);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "gallery gallery raside"
                         "gallery gallery raside";
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem 3rem;                     
}

.gallery {
    grid-area: gallery;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery > img {
    width: 23%;
}

.side2 {
    grid-area: raside;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.side2 > h2 {
    border-bottom: 1px solid lightgray;
    padding: .5rem;
    font-size: 3rem;
}

footer {
    color: #fff;
    padding: 20px 0;
    background-color: #9f9c9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    height: 15rem;
}

footer p {
    color: #434344;
    font-size: 12px;
    padding: 10px;
}
